@import url("https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap");
/*
=============== 
Variables
===============
*/

:root {
  --clr-primary-1: #c60;
  --clr-primary-2: #f90;
  --clr-background: #333;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.0rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Sedgwick Ave";
  background: var(--clr-background);
  color: var(--clr-primary-2);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-text);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/* section */
.section {
  padding: 5rem 0;
}
.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

/*
=============== 
Tracklists (List of all)
===============
*/

.title {
  text-align: center;
}
.title-underline {
  height: 0.25rem;
  width: 6rem;
  background: var(--clr-primary-1);
  margin: 0 auto;
  margin-top: 1.5rem;
}

.tracklists {
  padding: 3rem 0;
}

.tracklist-link {
  width: 250px;
  display: block;
  margin-bottom: 2rem;
  color: var(--clr-primary-2);
}
.tracklist-link img {

  display: block;
  border-radius: var(--radius);
  object-fit: cover;
}

.info {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 776px) {
  .tracklists {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
  .tracklists img {
    height: 200px;
  }
}
@media screen and (min-width: 992px) {
  .tracklists {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*
=============== 
Tracklist (actual list)
===============
*/
.link {
  color: var(--clr-primary-1);
}
.tracklist {
  margin-top: 3rem;
  display: grid;
  gap: 2rem;
}
.tracklist-img {
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: var(--radius);
}
.tracklist-list {
  white-space: pre-line;
}

@media screen and (min-width: 992px) {
  .tracklist {
    grid-template-columns: 1fr 1fr;
  }
}